.header{
    height: 15rem;
    background-color: $color-white;
    transition: all .3s;
    @include respondmax(xl){
        height: 10rem;
        padding: 1rem 0;
    }
    @include respondmax(lg){
        height: 8rem;
    }

    @include respondmax(sm){
        height: 6rem;
    }
    .navbar-brand{
        width: 16.5rem;
        transition: all .3s;

        @include respondmax(xl){
            width: 10rem;
           
        
        }

        @include respondmax(lg){
            width: 8rem;
          
        
        }
    }
}

.headerFix{
    position: fixed;
    height: 10rem;
	top: 0;
	z-index: 2;
	width: 100%;
	background-color:$color-white;
    box-shadow: 0 1px 7px rgba($color-dark,.3);
    transition: all .3s;

    @include respondmax(lg){
        height: 8rem;
    }

    @include respondmax(sm){
        height: 6rem;
    }
    & .navbar-brand{
        width: 9rem;
        transition: all .3s;
        
    }
}
