.homeInformation {
    padding: 5rem 0;
    @include respondmax(lg) {
        padding: 3rem 0;
    }

    @include respondmax(md) {
        padding: 1.8rem 0;
    }

    @include respondmax(sm) {
        padding: 1.2rem 0;
    }
    &__line {
        height: 0.2rem;
        background-color: $color-primary;
        width: 100%;
        margin: 3rem 0;

        @include respondmax(xl) {
            margin: 2.4rem 0;
        }

        @include respondmax(lg) {
            margin: 2rem;
        }

        @include respondmax(md) {
            margin: 1.6rem;
        }

        @include respondmax(sm) {
            margin: 1rem;
        }
    }

    &__texts {
        @include respondmax(sm){
            padding: 0 1.2rem;
        }
        & p {
            @include font($rblg, 1.7rem, $color-secondary);
            margin: 2rem 0;

            @include respondmax(xl) {
                font-size: 1.5rem;
                margin: 1.8rem 0;
            }

            @include respondmax(lg) {
                font-size: 1.4rem;
                margin: 1.5rem 0;
            }

            @include respondmax(md) {
                font-size: 1.2rem;
                margin: 1.2rem 0;
            }

            @include respondmax(sm) {
                font-size: 1.3rem;
                margin: 1rem 0;
            }
        }
    }

    &__details {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        @include font($rbrgl, 1.8rem, $color-pink-dark);
        margin: 2rem 0;
        border: 1px solid $color-grey-light;
        padding:2rem;
        padding-left: 10rem;
        background-color: $color-white;
        transition: all 0.3s;
        box-shadow: 0 0 10px transparent;

        @include respondmax(xl) {
            font-size: 1.6rem;
            margin: 1.8rem 0;
            padding: 0.8rem 1.8rem;
            padding-left: 7rem;
        }

        @include respondmax(lg) {
            font-size: 1.4rem;
            margin: 1.5rem 0;
            padding: 0.6rem 1.6rem;
            padding-left: 6rem;
        }

        @include respondmax(md) {
            font-size: 1.2rem;
            margin: 1.2rem 0;
            padding: 0.6rem 1.2rem;
            padding-left: 6rem;
        }

        & img {
            margin-left: 1rem;

            @include respondmax(xl) {
                margin-left: 0.8rem;
            }

            @include respondmax(lg) {
                margin-left: 0.6rem;
            }

            @include respondmax(md) {
                margin-left: 0.5rem;
                width: 3rem;
            }
        }

        &:hover {
            color: $color-secondary;
            
            box-shadow: 0 5px 13px 2px rgba($color-secondary, 0.3);
            transform: translateY(-5px);
        }

        &:active,&:focus{
            transform: translateY(0);
            box-shadow: 0 0 13px -2px rgba($color-secondary, 0.4);
        }
    }
}
