.homeInformation {
    padding: 5rem 0;
    @include respondmax(lg) {
        padding: 3rem 0;
    }

    @include respondmax(md) {
        padding: 1.8rem 0;
    }

    @include respondmax(sm) {
        padding: 1.2rem 0;
    }
    &__line {
        height: 0.2rem;
        background-color: $color-primary;
        width: 100%;
        margin: 3rem 0;

        @include respondmax(xl) {
            margin: 2.4rem 0;
        }

        @include respondmax(lg) {
            margin: 2rem;
        }

        @include respondmax(md) {
            margin: 1.6rem;
        }

        @include respondmax(sm) {
            margin: 1rem;
        }
    }

    &__texts {
        & p {
            @include font($rblg, 1.7rem, $color-secondary);
            margin: 2rem 0;

            @include respondmax(xl) {
                font-size: 1.5rem;
                margin: 1.8rem 0;
            }

            @include respondmax(lg) {
                font-size: 1.4rem;
                margin: 1.5rem 0;
            }

            @include respondmax(md) {
                font-size: 1.2rem;
                margin: 1.2rem 0;
            }

            @include respondmax(sm) {
                font-size: 1.1rem;
                margin: 1rem 0;
            }
        }
    }

    &__details {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        @include font($rbrgl, 1.8rem, $color-secondary);
        margin: 2rem 0;
        border: 1px solid $color-grey-light;
        padding: 1rem 2rem;
        background-color: $color-white;
        transition: all 0.3s;
        box-shadow: 0 0 10px transparent;

        @include respondmax(xl) {
            font-size: 1.6rem;
            margin: 1.8rem 0;
            padding: 0.8rem 1.8rem;
        }

        @include respondmax(lg) {
            font-size: 1.4rem;
            margin: 1.5rem 0;
            padding: 0.6rem 1.6rem;
        }

        @include respondmax(md) {
            font-size: 1.2rem;
            margin: 1.2rem 0;
            padding: 0.3rem 1.2rem;
        }

        & img {
            margin-left: 1rem;

            @include respondmax(xl) {
                margin-left: 0.8rem;
            }

            @include respondmax(lg) {
                margin-left: 0.6rem;
            }

            @include respondmax(md) {
                margin-left: 0.5rem;
            }
        }

        &:hover {
            color: $color-pink-dark;
            border: 1px solid $color-primary;
            box-shadow: 0 0 10px rgba($color-secondary, 0.6);
        }
    }
}
