.topMenu{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: rgba($color-dark,.5);

    &__list{
        margin: 0;
        height: 6rem;
        padding: 0;
        list-style-type: none;
        @include respondmax(md){
            height: 5rem;
        }
        @include respondmax(sm){
            height: 3.5rem;
        }
    }

    &__item{
        width: 14rem;
        color: $color-white;
        transition: all .3s; 
        text-align: center;
        &:not(:first-child)::before{
            content:'\2022';
            font-size: 1.6rem;
            margin-right: 1rem;

            @include respondmax(lg){
                font-size: 1.4rem;
            }

            @include respondmax(sm){
                font-size: 1.2rem;
                margin-right: 0;
            }
        }

        &:hover{
            color: $color-primary;
        }


    }


    &__link{
        @include font($rbrgl,1.6rem,$color-white);
        text-decoration: none;
        transition: all .3s;

        @include respondmax(lg){
            font-size: 1.4rem;
        }

        @include respondmax(sm){
            font-size: 1.2rem;
        }

        &:hover{
            color: $color-primary;
            text-decoration: none;
        }
    }
}