.homeLine{
        height: 0.2rem;
        background-color: $color-primary;
        width: 100%;
        margin: 3rem 0;

        @include respondmax(xl) {
            margin: 2.4rem 0;
        }

        @include respondmax(lg) {
            margin: 2rem 0;
        }

        @include respondmax(md) {
            margin: 1.6rem 0;
        }

        @include respondmax(sm) {
            margin: 1rem 0;
        }
}