.langLink {
    display: flex;
    justify-content: space-between;

    @include respondmax(md){
        /* position: absolute;
        top: 65%; */
        width: 100%;
        justify-content: center;
    }
    .langLink__item {
        @include font($rbrgl, 1.8rem, $color-primary);
        text-decoration: none;
       
        @include respondmax(xl){
            font-size: 1.2rem;
        }

        @include respondmax(lg){
            font-size: .8rem;
        }

        @include respondmax(md){
            font-size: 1.4rem;
        }

       
        transition: all 0.3s;
        &:hover {
            color: $color-pink-dark;
           text-decoration: underline;

           @include respondmax(md){
               color: $color-secondary;
           }
        }

        &:not(:last-child)::after{
            content: "|";
            padding-left: .5rem;
        }

        &:not(:last-child){
            margin-right: .8rem;

           
        }

        &:not(:first-child){
            margin-left: auto;

            @include respondmax(md){
                margin-left: 0;
            }
        }

        

    }

}

.sosialLink {
    display: flex;
    justify-content: space-between;
    margin-top: .6rem;
    transition: all .3s;

    @include respondmax(md){
        position: absolute;
        bottom: 3.5rem;
        width: 100%;
        justify-content: space-around;
    }

    &__item{
        
        &:hover{
            opacity: .65;
        }

        @include respondmax(md){
            &:not(:first-child){
                margin-left: .5rem;
            }
        }
    }

  
}