<footer class="footer">
      <div class="container">
            <h1 class="footer__title">
                  premium yaşam <span>kompleksi</span>
            </h1>
            <div class="topFooter">
                  <h3 class="topFooter__number">
                        444 44 44
                  </h3>
                  <div class="topFooter__text">
                        <h5> Satış ofisi</h5>
                        <p>
                              Mahmutbey Mah. Taşocağı Cad. No:3, Ağaoğlu My Office 212, Kat: 26,
                              D:432, 34218, Bağcılar / İstanbul
                              <a class="topFooter__mail" href="mailto:">
                                    info@premiumyasam.com.tr
                              </a>
                        </p>

                  </div>
                  <div class="topFooter__sosial">

                        <a href="#">
                              <img src="img/facebook-1.png" alt="">
                        </a>
                        <a href="#">
                              <img src="img/twitter-1.png" alt="">
                        </a>
                        <a href="#">
                              <img src="img/insta-1.png" alt="">
                        </a>
                        <a href="#">
                              <img src="img/mail-1.png" alt="">
                        </a>
                  </div>
            </div>
            <div class="footerNav">

                  <ul class="footerNav__list">
                        <li class="footerNav__item">
                              <a class="footerNav__link" href="#">Ana səhifə </a>
                        </li>
                        <li class="footerNav__item">
                              <a class=" footerNav__link" href="#">Yaşayış kompleksi</a>
                        </li>
                        <li class="footerNav__item">
                              <a class=" footerNav__link active" href="#">Planlar</a>
                        </li>
                        <li class="footerNav__item">
                              <a class=" footerNav__link" href="#">Tanıtım videosu</a>
                        </li>
                        <li class="footerNav__item">
                              <a class=" footerNav__link" href="#">Üstünlüklərimiz</a>
                        </li>
                        <li class="footerNav__item">
                              <a class=" footerNav__link" href="#">Premium yaşa</a>
                        </li>
                        <li class="footerNav__item">
                              <a class=" footerNav__link" href="#">Əlaqə</a>
                        </li>
                  </ul>

            </div>

      </div>
      <div class="footer__bottom text-center">
            <a href="#" class="footer__logo">
                  <img src="img/logo-light.png" alt="">
            </a>
      </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>

<!-- owl carousel -->
<script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- Map -->
<script src="https://api-maps.yandex.ru/2.1/?a9ce94fd-8bd9-4816-83f2-679185e13502
key&lang=en_US" type="text/javascript">
</script>

<!-- lightbox -->
<script src="libs/lightbox2/dist/js/lightbox-plus-jquery.js"></script>

<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>