<header class="header">
    <div class="container">
        <nav class="navbar myNav navbar-expand">
            <a class="navbar-brand" href="index.html">
                <img src="img/logo.png" class="img-fluid" alt="">
            </a>
            <ul class="navbar-nav  mx-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Ana səhifə </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Yaşayış kompleksi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Planlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galery.html">Tanıtım videosu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Üstünlüklərimiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">Premium yaşa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Əlaqə</a>
                </li>
            </ul>
            <div class="header__right ml-auto">
                <div class="langLink">
                    <a href="#" class="langLink__item">AZ</a>
                    <a href="#" class="langLink__item">EN</a>
                    <a href="#" class="langLink__item">RU</a>
                </div>
                <div class="sosialLink">
                    <a href="#" class="sosialLink__item">
                        <img src="img/facebook.png" alt="">
                    </a>
                    <a href="#" class="sosialLink__item">
                        <img src="img/twitter.png" alt="">
                    </a>
                    <a href="#" class="sosialLink__item">
                        <img src="img/insta.png" alt="">
                    </a>
                    <a href="mailto:" class="sosialLink__item">
                        <img src="img/mail.png" alt="">
                    </a>

                </div>
            </div>
        </nav>
        <div class="mobile">
            <div class="mainContainer">
                <a href="#" class="navbar-brand">
                    <img src="img/logo.png" class="mobile__logo" alt="">
                </a>
                <div class="langLink">
                    <a href="#" class="langLink__item">AZ</a>
                    <a href="#" class="langLink__item">EN</a>
                    <a href="#" class="langLink__item">RU</a>
                </div>
                <div class="sosialLink">
                    <a href="#" class="sosialLink__item">
                        <img src="img/facebook.png" alt="">
                    </a>
                    <a href="#" class="sosialLink__item">
                        <img src="img/twitter.png" alt="">
                    </a>
                    <a href="#" class="sosialLink__item">
                        <img src="img/insta.png" alt="">
                    </a>
                    <a href="mailto:" class="sosialLink__item">
                        <img src="img/mail.png" alt="">
                    </a>

                </div>
                <a href="#" class="menuBtn">
                    <span class="lines"></span>
                </a>
                <nav class="mainMenu">
                    <ul class="">
                        <li class=" ">
                            <a class=" " href="#">Ana səhifə </a>
                        </li>
                        <li class="">
                            <a class="" href="#">Yaşayış kompleksi</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Planlar</a>
                        </li>
                        <li class="">
                            <a class=" " href="galery.html">Tanıtım videosu</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Üstünlüklərimiz</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Premium yaşa</a>
                        </li>
                        <li class="">
                            <a class="" href="contact.html">Əlaqə</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>