//fonts
$aznb: jaznb;
$rblg: Roboto-Light;
$rbrgl: Roboto-Regular;
$rbbld: Roboto-Bold;
$rbitc: Roboto-Italic;

//colors
$color-primary: #a98a64;
$color-secondary: #585858;


$color-dark: #000;
$color-white: #fff;
$color-pink-dark:#660012;

$color-grey-light:#edebea;
$color-grey-dark: #919191;
